* {
	all: unset;
}

.search_bar {
	font-family: "Iosevka";
	font-size: 20px;
	color: #ffffff;
	padding: 18px;
  background-color: #24243B;
}


.search_bar label {
	margin-right: 50px;
}

.search_bar input {
	font-size: 2rem;
}
